<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>OMDT | Projects</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/projects.css">


</head>
<body>

<div class="topnav" id="myTopnav">
  <h3>OpenMap Development Tanzania</h3>
  <a href="index.html" >Home</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


     <section id="deep" class="wrapper style1">
      <div class="container">
               <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <p> utaona picha mbalimbali za project pamoja na washiriki wahhizo project, picha vitendea kazi bila kusahau picha za ramani ambazo hizi ndo kikubwa sana kinachofanywa na OpenMap Devolopment Tanzania. Maswali na jumbe mbalimbali</p>
            
          </div>
        </div> 
      </div>
        <div class="inner">
          <article class="things left">
            <span class="image"><img src="images/IMG_8466.jpg" alt="" /></span>
            <div class="content">
             <h2>Intensive Thinking.</h2>
          <p>hapa ndipo maelezo ya ndani kuhusu project yanakaa kutokea kule kwenye page mama ya OpenMap Devolopment Tanzania. happa ndo utajua undani wa yale yanoyofanyika katika OpenMap Devolopment Tanzania, utaona picha mbalimbali za project pamoja na washiriki wahhizo project, picha vitendea kazi bila kusahau picha za ramani ambazo hizi ndo kikubwa sana kinachofanywa na OpenMap Devolopment Tanzania. Maswali na jumbe mbalimbali unaweza kuacha kwenye kurasa mama ya OpenMap Devolopment Tanzania ili kupata msaada na ufafanuzi zaidi kutoka kwa wataalamu wetu mahiri katika maswala ya ramani. jisikie huru kujiunga na kazi hii pia au kuchangia chochote kuendeleza kazi hii.</p>

            </div>
          </article>
          <article class="things right">
            <span class="image"><img src="images/IMG_8466.jpg" alt="" /></span>
            <div class="content">
             <h2>Intensive Thinking</h2>
          <p>hapa ndipo maelezo ya ndani kuhusu project yanakaa kutokea kule kwenye page mama ya OpenMap Devolopment Tanzania. happa ndo utajua undani wa yale yanoyofanyika katika OpenMap Devolopment Tanzania, utaona picha mbalimbali za project pamoja na washiriki wahhizo project, picha vitendea kazi bila kusahau picha za ramani ambazo hizi ndo kikubwa sana kinachofanywa na OpenMap Devolopment Tanzania. Maswali na jumbe mbalimbali unaweza kuacha kwenye kurasa mama ya OpenMap Devolopment Tanzania ili kupata msaada na ufafanuzi zaidi kutoka kwa wataalamu wetu mahiri katika maswala ya ramani. jisikie huru kujiunga na kazi hii pia au kuchangia chochote kuendeleza kazi hii.</p>

            </div>
          </article>
                    <article class="things left">
            <span class="image"><img src="images/IMG_8466.jpg" alt="" /></span>
            <div class="content">
              <h1>Intensive Thinking</h1>
          <p>hapa ndipo maelezo ya ndani kuhusu project yanakaa kutokea kule kwenye page mama ya OpenMap Devolopment Tanzania. happa ndo utajua undani wa yale yanoyofanyika katika OpenMap Devolopment Tanzania, utaona picha mbalimbali za project pamoja na washiriki wahhizo project, picha vitendea kazi bila kusahau picha za ramani ambazo hizi ndo kikubwa sana kinachofanywa na OpenMap Devolopment Tanzania. Maswali na jumbe mbalimbali unaweza kuacha kwenye kurasa mama ya OpenMap Devolopment Tanzania ili kupata msaada na ufafanuzi zaidi kutoka kwa wataalamu wetu mahiri katika maswala ya ramani. jisikie huru kujiunga na kazi hii pia au kuchangia chochote kuendeleza kazi hii</p>

            </div>
          </article>
        </div>
        </div>
      </section>



  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <p>OpenMap Development Tanzania.</p>
        </div>

        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
                
          <div class="end">
            <p>copyright &copy; OMDTZ 2018.</p>
         
        </div>
      </div>
    </div>

  </footer>


  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>